  .footer-basic {    
    bottom: 0;
    width: 100%;    
    height: 240px;
    line-height: 60px; 
  }

  table.json_table td:first-child, table.json_table th:first-child {
    display: none;
} 
 